h2 {
  text-align: center;
}

p {
  text-align: center;
}

textarea {
  text-align: center;
}

.button {
  text-align: center;
}

.welcome {
  text-align: center;
}

div {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.button_row {
  margin-left: auto;
  margin-right: auto;
}
